<p id="notice"><%= notice %></p>
<h2 class="text-center">#users/show.html.erb</h2>
<div class="row">
  <div class="offset-4 col-md-4">
      <h3 class='text-center'>
        <%= @user.name %>
      </h3>
      <h3 class='text-center'>
        <%= @user.email %>
      </h3>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
